* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.conteiner-princ {
    text-align: center;
}

.foto {
    width: 100%;
    height: auto;
}

.cabecalho {
    font-size: 20px;
    background-color: #f55804;
    text-align: center;
    padding: 20px 0;
}

.links {
    margin-left: 40px;
    cursor: pointer;
    color: #ffffff;
}

.historia {
    text-align: center;
    padding: 100px 0px;
}

.conteudo {
    max-width: 75%;
    margin: 50px auto;
}

.titulo-historia {
    font-size: 40px;
    margin-bottom: 50px;
    color: #000000;
}

.texto-historia {
    font-size: 18px;
    line-height: 1.8;
    color: #000000;
    opacity: 80%;
    text-align: justify;
}

.agenda {
    text-align: center;
    padding: 30px 0;
    background-color: #f55804;
}

.datas {
    max-width: 800px;
    margin: 100px auto;
}

.titulo-agenda {
    color: #ffffff;
    letter-spacing: 1.8px;
    margin-bottom: 15px;
}

.texto-agenda {
    color: #ffffff;
    line-height: 2;
}

.midias {
    text-align: center;
    padding: 30px 0;
}

.midia {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.conteudodemidia {
    width: 25%;
    margin: 2px 1px;
}

.titulodemidia {
    font-size: 40px;
    margin-bottom: 50px;
    color: #000000;
    letter-spacing: 1.8px;
}

.videos {
    margin-top: 20px;
}

.projetos {
    text-align: center;
    padding: 50px 0;
}

.boxprojetos {
    max-width: 75%;
    margin: 30px auto;
}

.tituloprojetos {
    font-size: 40px;
    margin-bottom: 40px;
    color: #000000;
    letter-spacing: 1.8px;
}

.subtituloprojetos {
    font-size: 30px;
    margin-bottom: 20px;
    color: #f55804;
    text-align: justify;
}

.paragrafoprojetos {
    font-size: 18px;
    line-height: 1.8;
    color: #000000;
    opacity: 80%;
    text-align: justify;
}

.midiaprojeto {
    width: 100%;
    height: 100%;
}

.imgprojeto {
    width: 25%;
    margin: 2px 1px;
}


.boxcolaboradores {
    text-align: center;
    padding: 200px 0;
}

.conteudocolaboradores {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titulocolaboradores {
    font-size: 40px;
    color: #000000;    
    margin-bottom: 50px;
    letter-spacing: 1.8px;

}

.smecel {
    width: 240px;
}

.boxcontato {
    max-width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #f55804;
}

.conteudocontato {
    max-width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.titulocontato {
    color: #ebebeb;
    font-size: 40px;
    letter-spacing: 1.8px;
}

.link1 {
    color: #ebebeb;
    font-size: 14px;
}

.link1:hover,.links:hover {
    color: rgb(172, 172, 172);
}

.link1:visited,.links:visited {
    color: #D9A08B;
}

.footer {
    font-size: 12px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
}

@media screen and (max-width: 900px) {
    .links {
        margin-left: 10px;
        cursor: pointer;
        color: #ffffff;
        font-size: 12px;
    }

    .videoyt {
        max-width: 90%;
    }


}    